[Desktop Entry]
Type=Application
TryExec=mightty
Exec=mightty
Icon=Alacritty
Terminal=false
Categories=System;TerminalEmulator;

Name=Mightty
GenericName=Terminal
Comment=A fast, cross-platform, OpenGL terminal emulator
StartupNotify=true
StartupWMClass=Mightty
Actions=New;

[Desktop Action New]
Name=New Terminal
Exec=mightty
