[Desktop Entry]
Type=Application
TryExec=mightty
Exec=mightty
Icon=Mightty
Terminal=false
Categories=System;TerminalEmulator;

Name=Mightty
GenericName=Terminal
Comment=A fast, modern terminal emulator with vim mode
StartupNotify=true
StartupWMClass=Mightty
Actions=New;

[Desktop Action New]
Name=New Terminal
Exec=mightty
